@page "/agregarEditar"
@inject IJSRuntime JsRuntime
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
@switch (caso)
{
    case "registrado":
        <div class="container">
            <h1>Persona ya agregada</h1>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Cedula</span>
                <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1" @bind="persona.Cedula" readonly>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Nombre</span>
                <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1" @bind="persona.Nombre" readonly>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Apellidos</span>
                <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1" @bind="persona.Apellidos" readonly>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Telefono</span>
                <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1" @bind="persona.Telefono" readonly>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Fecha de nacimiento</span>
                <input type="date" class="form-control" aria-label="Username" aria-describedby="basic-addon1" @bind="persona.FechaNacimiento" readonly>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Provincia</span>
                <input type="text" class="form-control" aria-describedby="basic-addon1" @bind="provincias.Where(x => x.Id == persona.ProvinciaId).FirstOrDefault().Nombre" readonly>
            </div>
            @if (dosis.Any())
            {
                <h3>Dosis anteriores:</h3>

                @for (int i = 0; i < dosis.Count; i++)
                {
                    VacunasClase vacuna = vacunas.Where(x => x.Id == dosis[i].VacunaId).FirstOrDefault();
                    <h5>Dosis @i+1</h5>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Nombre</span>
                        <input type="text" class="form-control" aria-describedby="basic-addon1" @bind="vacuna.Nombre" readonly>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Fecha</span>
                        <input type="date" class="form-control" aria-describedby="basic-addon1" @bind="dosis[i].Fecha" readonly>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Dosis necesarias</span>
                        <input type="text" class="form-control" aria-describedby="basic-addon1" @bind="vacuna.DosisNecesarias" readonly>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Dias entre dosis</span>
                        <input type="text" class="form-control" aria-describedby="basic-addon1" @bind="vacuna.DiasEntreDosis" readonly>
                    </div>
                }



            }
            else
            {
                <h3>No se ha vacunado</h3>
            }
            <h2>Datos de nueva dosis</h2>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Vacuna recibida</span>
                <select class="form-select" aria-label="Default select example" @bind="@sVacunaID">
                    <option selected value="0">-- Seleccione una vacuna --</option>
                    @foreach (var vacuna in vacunas)
                    {
                        <option value="@vacuna.Id"> @vacuna.Nombre </option>
                    }
                </select>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Provincia</span>
                <select class="form-select" aria-label="Default select example" @bind="@sProvinciaID">
                    <option selected value="0">-- Seleccione una provincia --</option>
                    @foreach (var provincia in provincias)
                    {
                        <option value="@provincia.Id"> @provincia.Nombre </option>
                    }
                </select>
            </div>
            <button type="button" class="btn btn-outline-success" @onclick="agregarDosis">Agregar dosis</button>
        </div>
        break;
    case "noRegistrado":
        <h1>Persona no agregada</h1>
        <div class="container">
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Cedula</span>
                <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1" @bind="persona.Cedula" readonly>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Nombre</span>
                <input type="text" class="form-control" aria-label="Ingrese el nombre" aria-describedby="basic-addon1" @bind="persona.Nombre">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Apellidos</span>
                <input type="text" class="form-control" aria-label="Ingrese los apellidos" aria-describedby="basic-addon1" @bind="persona.Apellidos">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Telefono</span>
                <input type="text" class="form-control" aria-label="Ingrese el telefono" aria-describedby="basic-addon1" @bind="persona.Telefono">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Fecha de nacimiento</span>
                <input type="date" class="form-control" aria-describedby="basic-addon1" @bind="persona.FechaNacimiento">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Provincia</span>
                <select class="form-select" aria-label="Default select example" @bind="@persona.ProvinciaId">
                    <option selected value="0">-- Seleccione una provincia --</option>
                    @foreach (var provincia in provincias)
                    {
                        <option value="@provincia.Id"> @provincia.Nombre </option>
                    }
                </select>
            </div>
            <h2>Datos de nueva dosis</h2>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Vacuna recibida</span>
                <select class="form-select" aria-label="Default select example" @bind="@sVacunaID">
                    <option selected value="0">-- Seleccione una vacuna --</option>
                    @foreach (var vacuna in vacunas)
                    {
                        <option value="@vacuna.Id"> @vacuna.Nombre </option>
                    }
                </select>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">-- Seleccione una provincia --</span>
                <select class="form-select" aria-label="Default select example" @bind="@sProvinciaID">
                    <option selected value="0">-- Seleccione una provincia --</option>
                    @foreach (var provincia in provincias)
                    {
                        <option value="@provincia.Id"> @provincia.Nombre </option>
                    }
                </select>
            </div>
            <button type="button" class="btn btn-outline-success" @onclick="agregarPersonaDosis">Agregar dosis y persona</button>
        </div>
        break;
    default:
        <div class="container">
            <h1>Registro de vacunas</h1>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Introduzca su cedula</span>
                <input type="text" class="form-control" placeholder="Cedula" aria-label="Username" aria-describedby="basic-addon1" @bind="cedula">
            </div>
            <button type="button" class="btn btn-outline-success" @onclick="verificar">Verificar identidad o registrar</button>
        </div>
        break;
}
@if (false)
{
    <div class="container">
        <h1>Registro de vacunas</h1>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Introduzca su cedula</span>
            <input type="text" class="form-control" placeholder="Cedula" aria-label="Username" aria-describedby="basic-addon1" @bind="cedula">
        </div>
        <button type="button" class="btn btn-outline-success" @onclick="verificar">Verificar identidad o registrar</button>
    </div>
}
else if (false)
{
    <div class="container">
        <h1>Registro de vacunas</h1>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Introduzca Nombre</span>
            <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Introduzca Apellido</span>
            <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Introduzca Telefono</span>
            <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Introduzca su fecha de nacimiento</span>
            <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <select class="form-select" aria-label="Default select example">
            <option selected>Vacuna recibida</option>
            <option value="1">Pfizer-BioNTech</option>
            <option value="2">Moderna</option>
            <option value="3">Johnson & Johnson's Janssen</option>
            <option value="4">mRNA</option>
            <option value="5">Viral Vector Vaccines</option>
            <option value="6">Sinovac</option>
        </select>
        <select class="form-select" aria-label="Default select example">
            <option selected>Seleccione su provincia</option>
            <option value="1">Azua</option>
            <option value="2">Bahoruco</option>
            <option value="3">Barahona</option>
            <option value="4">Dajabón</option>
            <option value="5">Distrito nacional</option>
            <option value="6">Duarte</option>
            <option value="7">Elías piña</option>
            <option value="8">El Seibo</option>
            <option value="9">Espaillat</option>
            <option value="10">Hato Mayor</option>
            <option value="11">Hermanas Mirabal</option>
            <option value="12">Independencia</option>
            <option value="13">La Altagracia</option>
            <option value="14">La Romana</option>
            <option value="15">La Vega</option>
            <option value="16">María Trinidad Sánchez</option>
            <option value="17">Monseñor Nouel</option>
            <option value="18">Monte Cristi</option>
            <option value="19">Monte Plata</option>
            <option value="20">Pedernales</option>
            <option value="21">Peravia</option>
            <option value="22">Puerto Plata</option>
            <option value="23">Samaná</option>
            <option value="24">Sánchez Ramírez</option>
            <option value="25">San Cristobal</option>
            <option value="26">San José De Ocoa</option>
            <option value="27">San Juan</option>
            <option value="28">San Pedro de Macorís</option>
            <option value="29">Santiago</option>
            <option value="30">Santiago Rodríguez</option>
            <option value="31">Santo Domingo</option>
            <option value="32">Valverde Mao</option>
        </select>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Fecha</span>
            <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <button type="button" class="btn btn-outline-success">Registrar</button>
    </div>
}

<style>
    .container {
        margin-top: 50px;
    }

    p {
        color: red;
        font-size: 18px;
    }

    .form-select {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .input-group {
        margin-top: 5px;
        margin-bottom: 5px;
    }
</style>
@code {
    string caso;
    string cedula = "";
    int sProvinciaID = 0;
    int sVacunaID = 0;
    Personas persona;
    Dosis dosi;
    List<Dosis> dosis = new List<Dosis>();
    List<VacunasClase> vacunas;
    List<Provincias> provincias;
    async Task agregarPersonaDosis()
    {
        if (sVacunaID == 0 || sProvinciaID == 0 || persona.ProvinciaId == 0)
        {
            await JsRuntime.InvokeVoidAsync("alert", "Llene todos los datos por favor");
        }
        else
        {
            bool confirmar = await JsRuntime.InvokeAsync<bool>("confirm", "Estás seguro de que quieres agregar esta persona y dosis?");
            if (confirmar)
            {
                using (var context = new vacunaterdContext())
                {
                    context.Personas.Add(persona);
                    dosi.CedulaPersona = persona.Cedula;
                    dosi.ProvinciaId = sProvinciaID;
                    dosi.VacunaId = sVacunaID;
                    dosi.Fecha = DateTime.Today;
                    context.Dosis.Add(dosi);
                    context.SaveChanges();
                    await JsRuntime.InvokeVoidAsync("alert", "Persona y dosis agregada correctamente");
                    caso = "";
                }
            }
        }
    }
    async Task agregarDosis()
    {
        if (sProvinciaID == 0 || sVacunaID == 0)
        {
            await JsRuntime.InvokeVoidAsync("alert", "Llene todos los datos, por favor");
        }
        else
        {
            bool confirmar = await JsRuntime.InvokeAsync<bool>("confirm", "Estás seguro de que quieres agregar esta dosis?");
            if (confirmar)
            {
                Dosis dosi = new Dosis();
                dosi.ProvinciaId = sProvinciaID;
                dosi.VacunaId = sVacunaID;
                dosi.Fecha = DateTime.Today;
                dosi.CedulaPersona = persona.Cedula;
                using (var context = new vacunaterdContext())
                {
                    context.Dosis.Add(dosi);
                    context.SaveChanges();
                }
                await JsRuntime.InvokeVoidAsync("alert", "Dosis agregada");
            }
        }

    }
    async Task verificar()
    {
        try
        {
            long n = Int64.Parse(cedula);
            if (cedula.Length > 11 || cedula.Length < 11)
            {
                await JsRuntime.InvokeVoidAsync("alert", "Debe ser un numero de 11 digitos sin caracteres especiales");
            }
            else
            {
                using (var context = new vacunaterdContext())
                {
                    vacunas = context.VacunasClase.ToList();
                    provincias = context.Provincias.ToList();
                    if (context.Personas.Any(x => x.Cedula == cedula))
                    {
                        persona = context.Personas.Find(cedula);
                        dosis = context.Dosis.Where(x => x.CedulaPersona == persona.Cedula).ToList();
                        caso = "registrado";
                    }
                    else
                    {
                        persona = new Personas() { Cedula = cedula};
                        dosi = new Dosis();
                        caso = "noRegistrado";
                    }
                }
            }
        }
        catch
        {
            await JsRuntime.InvokeVoidAsync("alert", "Debe ser un numero de 11 digitos sin caracteres especiales");
        }
    }

}
